* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin-bottom: 1em;
}

body {
  display: flex;
  flex-direction: column;
}

#header-img {
  margin-top: 1em;
  width: 4em;
  height: auto;
}

#nav-bar ul {
  display: flex;
  align-items: center;
}

#nav-bar ul li {
  margin: auto;
}

main,
input {
  width: 100%;
}

main,
input,
header,
#product iframe {
  margin: auto;
}

input,
form {
  text-align: center;
  width: 90%;
  margin: auto;
  height: 2em;
}

#product {
  display: flex;
  flex-direction: column;
}

#product img {
  width: 80%;
  margin: auto;
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightblue;
}

#option-one,
#option-two,
#option-three {
  display: flex;
  flex-direction: column;
}

#option-one img,
#option-two img,
#option-three img {
  width: 80%;
  margin: auto;
}

#option-one ul,
#option-two ul,
#option-three ul {
  width: 50%;
  margin: auto;
}

button {
  width: 80%;
  margin: auto;
}

iframe {
  width: 90%;
  height: 415px;
}

@media screen and (min-width: 768px) {
  #nav-bar {
    display: relative;
    width: 60%;
  }

  #nav-bar ul {
    list-style-type: none;
    margin-top: 3%;
  }

  a {
    text-decoration: none;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 80%;
  }

  #option-one img,
  #option-two img,
  #option-three img {
    max-width: 40%;
    margin: auto;
  }

  button {
    width: 40%;
    margin: auto;
  }

  #option-one,
  #option-two,
  #option-three {
    display: flex;
    flex-direction: column;
    max-width: 40%;
  }

  #options {
    flex-direction: row;
  }

  iframe {
    width: 70%;
    height: 415px;
  }
  #product img {
    width: 50%;
    margin: auto;
  }

  input,
  form {
    text-align: center;
    width: 70%;
    margin: auto;
    height: 2em;
  }

  input[type="submit"] {
    width: 10%;
  }
}
